Last update on: 11/20/22 - 20th November 2022
⦿ Be polite to other players
⦿ Nothing happening on the server must be in conflict with the applicable laws of the EU, the CZ and the SR
⦿ Any form of racism is prohibited on the server
⦿ It's forbidden to publish any personal data on the server
⦿ Respect the A-Team (AT) and other players
⦿ Do not post any links in the chat unless you have permission to do so
⦿ If you want to ask something or need help with something, write to an active AT member or to one of the support channels. All requests in other channels will most likely not be responded to!
⦿ Do not abuse bugs/glitches
⦿ If you find any bug/glitch, you are obliged to report it
⦿ Don't elevate yourself over other players
⦿ If you have any ideas to add or change, send it to us at ⁠💡»𝐕𝐚𝐬𝐞-𝐍𝐚𝐩𝐚𝐝𝐲 
⦿ It's forbidden to beg for items, ranks, money or OP from other players and AT members
⦿ It's forbidden to build inappropriate structures, shapes, etc.
⦿ It's forbidden to sell anything on the server for other than in-game currency
⦿ Spam/flood in chat (also in msg) is prohibited
⦿ AT is not obligated to return your lost items
⦿ It's forbidden to do any advertising on the server
⦿ No one has the right to ask someone for login information to the Minecraft server. If this data is provided to a third party, or if your password is broken, we bear no responsibility for any damages. Always choose strong passwords
⦿ It is forbidden to have any inappropriate skin/nick
⦿ If you meet an AT member abusing his powers, you can report him to another AT member's dm (include proof)
⦿ It is forbidden to use unauthorized modifications of the Minecraft game, for example, hacked clients with activated modifications and all additional modifications that in any way favor the player over others (Including AutoClicker)
⦿ If the player is a minor, the legal representative is responsible for all his actions
⦿ Multiacc (playing with multiple accounts) is punishable by a ban 
